<style>
.btn-search{
  background-color: #fe424d;
  color: #fff;
  border-radius: 25px;
  padding: 0 1rem 0 1rem;
}
.btn-search:hover{
  background-color: #fe424d;
  color: #fff;
}
.btn-search i{
  display: inline;
  margin-right: 0.5rem;
}
.search-input{
  border-radius: 25px;
  padding: 0.5rem 3rem 0.5rem 3rem;
  width: 400px;
}
.navbar-nav {
  align-items: center;
}
.search-container {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
@media (max-width: 768px) {
  .search-container {
    position: relative;
    left: 0;
    transform: none;
    margin: 1rem 0;
  }
}
</style>

<nav class="navbar navbar-expand-md bg-body-light border-bottom sticky-top">
  <div class="container-fluid">
    <a class="navbar-brand" href="/listings"><i class="fa-regular fa-compass"></i></a>
    
    <button 
        class="navbar-toggler" 
        type="button" 
        data-bs-toggle="collapse" 
        data-bs-target="#navbarNavAltMarkup"
        aria-controls="navbarNavAltMarkup"
        aria-expanded="false"
        aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link" href="/listings">Explore</a>
      </div>

      <div class="search-container">
        <form class="d-flex w-100" action="/listings" method="GET">
          <div class="input-group">
            <input 
              class="form-control search-input" 
              type="search" 
              placeholder="Search locations, countries..." 
              name="q" 
              aria-label="Search"
            >
            <button class="btn btn-search" type="submit">
              <i class="fa-solid fa-search"></i>
              <span class="d-none d-sm-inline">Search</span>
            </button>
          </div>
        </form>
      </div>
      
      <div class="navbar-nav ms-auto">
        <a class="nav-link" href="/listings/new">Add new Listing</a>
        <% if(currUser) { %>
          <a class="nav-link" href="/logout"><b>LogOut</b></a>
        <% }else{ %>
          <a class="nav-link" href="/signup"><b>SignUp</b></a>
          <a class="nav-link" href="/login"><b>Login</b></a>
        <% } %>
      </div>
    </div>
  </div>
</nav>