<% layout("/layouts/boilerplate") %>

<div class="row mt-3">
  <div class="col-8 offset-2">
    <br />
    <h3>Creating new listing</h3>
    <br />
    <form method="POST" action="/listings" novalidate class="needs-validation" enctype="multipart/form-data">
      <div class="mb-3">
        <label for="title" class="form-lebel">Title</label>
        <input
          name="listing[title]"
          placeholder="enter title"
          type="text"
          class="form-control"
          required
        />
        <div class="valid-feedback">Title looks good !</div>
        <div class="invalid-feedback">Title should be valid!</div>
      </div>
      <div class="mb-3">
        <label for="description" class="form-lebel">Description</label>
        <textarea
          name="listing[description]"
          placeholder="enter description"
          class="form-control"
          required
        ></textarea>
        <div class="invalid-feedback">Please enter a short description</div>
      </div>
      <!-- <div class="mb-3">
        <label for="image" class="form-lebel">Image Link</label>
        <input
          name="listing[image]"
          placeholder="enter image URL/Link"
          type="text"
          class="form-control"
          required
        />
      </div> -->

      <div class="mb-3">
        <label for="image" class="form-lebel"  >Upload Image </label>
        <input
          name="listing[image]"
          type="file"
          class="form-control"
          required
        />
      </div>

      <div class="row">
        <div class="mb-3 col-md-4">
          <label for="price" class="form-lebel">Price</label>
          <input
            name="listing[price]"
            placeholder="1200"
            type="text"
            class="form-control"
            required
          />
          <div class="invalid-feedback">Please enter a valid amount!</div>
        </div>
        <div class="mb-3 col-md-8">
          <label for="country" class="form-lebel">country</label>
          <input
            name="listing[country]"
            placeholder="India"
            type="text"
            class="form-control"
            required
          />
          <div class="invalid-feedback">Country should be valid!</div>
        </div>
      </div>

      <div class="mb-3">
        <label for="location" class="form-lebel">location</label>
        <input
          name="listing[location]"
          placeholder="Jaipur Rajsthan"
          type="text"
          class="form-control"
          required
        />
        <div class="invalid-feedback">Location should be valid!</div>
      </div>
      <button class="btn btn-dark add-button mt-3">Add</button>
    </form>
  </div>
</div>
